/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipo de fuente */
@font-face {
    font-family: 'FuentePrincipal';
    src: url('../fonts/Cedora-BoldStd.otf') format('opentype');
}

/*============================*/
/* Estilo para el fondo degradado */
/*============================*/
body {
    font-family: 'FuentePrincipal', sans-serif; 
    background: linear-gradient(90deg, #e1f0ff, #ffe3db9c);
    color: #000;
}

/*============================*/
/* Estilo del navbar */
/*============================*/
.logo img {
    max-width: 100px; 
    height: 65px; 
    display: block; /* Asegura que se muestre como bloque */
}

.navbar {
    background-image: url('../imagenes/bannerCeleste2.png'); /* Cambia la ruta por la de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.8rem 1.5rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar:hover {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
    max-height: 40px;
    margin-right: 8px;
}

/* Estilos de los enlaces del Navbar */
.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
    padding: 0.5rem 1rem;
    position: relative;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #000000;
}

/* Efecto de subrayado animado */
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0; /* Ancho inicial es 0 */
    height: 2px;
    background-color: #ffc107;
    transition: width 0.3s ease, opacity 0.3s ease; /* Transiciones para width y opacity */
    opacity: 0; /* Oculta inicialmente la línea */
}

/* Al hacer hover, expande el subrayado */
.navbar-nav .nav-link:hover::after {
    width: 100%; /* Expande el ancho al 100% */
    opacity: 1; /* Muestra la línea al hacer hover */
}

/* Muestra el subrayado para el enlace activo */
.navbar-nav .nav-item.active .nav-link::after {
    background-color: #ffc107; /* Color de subrayado */
    width: 100%; /* Asegura que el subrayado esté visible en el enlace activo */
    opacity: 1; /* Muestra la línea si está activo */
}

/* Asegura que la línea subrayada no se vea cuando no se interactúa y no está activa */
.navbar-nav .nav-link:not(:hover)::after {
    transition: width 0.3s ease, opacity 0.3s ease; /* Aplica la misma transición */
    width: 0; /* Reduce el ancho al salir */
    opacity: 0; /* Oculta la línea */
}

/* Mantiene el subrayado visible cuando el enlace está activo y no está en hover */
.navbar-nav .nav-item.active .nav-link:not(:hover)::after {
    width: 100%; /* Mantiene el ancho al 100% */
    opacity: 1; /* Mantiene la opacidad visible */
}

/* Si el enlace está activo, asegura que la línea no se oculte al pasar el mouse */
.navbar-nav .nav-item.active .nav-link:hover::after {
    width: 100%; /* Mantiene el ancho al 100% */
    opacity: 1; /* Mantiene la opacidad visible */
}

/* Efecto de subrayado animado para el enlace activo */
.navbar-nav .nav-item.active .nav-link {
    color: #ffc107; /* Cambia el color del enlace activo */
}

/* Mantiene el subrayado negro en el enlace activo */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-item.active .nav-link:hover {
    color: #ffc107; /* Color en hover */
}

  /* Cambia el color de fondo al pasar el cursor */
.dropdown-item:hover {
    color: #007bff;
}

/* Ajustes para el ícono de tres rayas */
.small-icon {
    font-size: 0.8rem; /* Tamaño más pequeño */
    margin-right: 0.4rem; /* Espacio a la derecha para separarlo del texto */
    vertical-align: middle;
}

/* Estilo adicional para asegurar que no haya línea residual */
.navbar-nav .nav-item.active .nav-link::after {
    width: 0; /* Inicia en 0 para evitar subrayado visible */
}

/* Ajustes básicos de los botones */
#searchButton,
a.btn.btn-outline-primary {
    position: relative;
    padding: 0.5rem 1rem; 
    color: #ffffff; /* Color inicial de los iconos */
}

/* Efecto de subrayado animado para los iconos de búsqueda y carrito de compras */
#searchButton::after,
a.btn.btn-outline-primary::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 0;
    height: 2px;
    background-color: #ffc107; /* Color de la línea */
    transition: width 0.3s ease;
}

/* Subrayado en hover para ambos botones */
#searchButton:hover::after,
a.btn.btn-outline-primary:hover::after {
    width: 100%; 
}


/* Botón de búsqueda */
#searchButton {
    background-color: transparent;
    border: none;
    color: #ffffff; /* Color inicial blanco */
    transition: color 0.3s ease;
}

/* Formulario de búsqueda desplegable */
#searchForm {
    display: flex;
    align-items: center;
}

#searchForm input[type="search"] {
    border: 1px solid #dddddd;
    border-radius: 20px;
    padding: 0.4rem 1rem;
    outline: none;
    transition: box-shadow 0.3s ease;
}

#searchForm input[type="search"]:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

/* Cambia el color de los íconos de búsqueda y carrito de compras a blanco */
#searchButton .fas,
#cart-indicator,
a.btn.btn-outline-primary .fas {
    color: #ffffff;
}

/* Asegura que el color de los íconos sea negro en hover */
#searchButton:hover .fas,
a.btn.btn-outline-primary:hover .fas {
    color: #ffc107; 
}

/* Estilo para el botón de búsqueda en el formulario */
#searchForm button {
    background-color: #000000;
    border: none;
    color: #ffffff;
    border-radius: 20px;
    padding: 0.4rem 1rem;
    margin-left: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* Carrito de compras */
.navbar .btn-outline-primary {
    border: none;
    background-color: transparent;
    color: #333333;
    transition: color 0.3s ease;
}

.navbar .btn-outline-primary:hover {
    color: #000000;
}

/* Ocultar bordes y sombras en dispositivos pequeños */
@media (max-width: 992px) {
    .navbar {
        box-shadow: none;
    }

    .navbar-nav .nav-link {
        text-align: center;
    }
}

/*============================*/
/* Estilos para la sección Hero */
/*============================*/
.hero {
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.hero .hero-text {
    margin-bottom: 2rem;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    width: 400px;
}

/* Estilos personalizados para los botones */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-outline-secondary {
    color: #333;
    border: 2px solid #333;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.btn-outline-secondary:hover {
    background-color: #333;
    color: #fff;
}



/*============================*/
/* Barra Deslizadora */
/*============================*/
.tf-marquee {
    background: linear-gradient(90deg, #62b1fcce, #ffc1075e);
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px; /* Agrega espacio debajo de la barra deslizadora */
}

.wrap-marquee {
    display: flex;
    gap: 50px;
    animation: scroll 15s linear infinite;
    width: max-content; /* Ajusta ancho al contenido para que el desplazamiento sea fluido */
}

.marquee-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
}

.marquee-item:hover {
    transform: scale(1.05);
}

.marquee-item .icon svg {
    fill: #034b86;
    transition: transform 0.3s ease;
}

.marquee-item:hover .icon svg {
    transform: rotate(15deg);
}

/* Animación de scroll continuo */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Ajusta para que repita sin espacios */
}


/*============================*/
/* Categorias */
/*============================*/
.categories {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}
.category {
    text-align: center;
    width: 120px;
    text-decoration: none;
    color: #333;
}
.category img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s ease;
    background-color: #d3d3d383;
    border-radius: 50%;
}
.category:hover img {
    transform: scale(1.1);
}
.category p {
    margin-top: 10px;
    font-size: 1em;
}

    /*============================*/
    /* Carrusel de banners */
    /*============================*/
    #customCarousel {
        width: 100%;
        max-width: 1146px;
        height: 229px;
        margin: 0 auto; /* Centra el carrusel */
        border-radius: 15px; /* Bordes redondeados */
        overflow: hidden; /* Asegura que las imágenes no sobresalgan */
        margin-top: 60px; /* Agrega espacio debajo de la barra deslizadora */
    }
    
    #customCarousel .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Escala las imágenes para llenar el espacio sin distorsionarlas */
        border-radius: 15px; /* Aplica bordes redondeados a las imágenes también */
    }
    
    /* Media queries para adaptabilidad */
    @media (max-width: 1200px) {
        #customCarousel {
        height: 200px;
        }
    }
    
    @media (max-width: 992px) {
        #customCarousel {
        height: 180px;
        }
    }
    
    @media (max-width: 768px) {
        #customCarousel {
        height: 160px;
        }
    }
    
    @media (max-width: 576px) {
        #customCarousel {
        height: 140px;
        border-radius: 10px;
        }
    }

/*============================*/
/* Estilos para Productos */
/*============================*/
.card {
    position: relative;
    width: 100%;
    max-width: 240px; /* Ancho máximo */
    height: 320px; /* Altura */
    background: #f5f9ff; /* Fondo azul pastel */
    border-radius: 15px; /* Bordes redondeados */
    margin: 10px; /* Espaciado entre tarjetas */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s; /* Efecto hover */
}

.card:hover {
    transform: scale(1.03); /* Escala al pasar el mouse */
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #cff1ff; /* Azul claro */
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.card .imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    z-index: 1;
}

.card .contentBox {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.card .contentBox h3 {
    font-size: 14px; /* Tamaño de fuente */
    color: #2C3E50; /* Color del texto */
    font-weight: 500;
    text-transform: uppercase;
}

.card .contentBox .price {
    font-size: 18px; /* Tamaño de fuente */
    color: #2b5279; /* Color del texto */
    font-weight: 700;
}

.card .contentBox .buy {
    font-size: 14px; /* Tamaño de fuente */
    opacity: 0;
    padding: 8px 15px; /* Ajustes en padding */
    margin-top: auto; /* Mantiene en la parte inferior */
    color: #000000; /* Color de texto blanco */
    background: #A7C6ED; /* Color de fondo del botón */
    border-radius: 20px; /* Bordes redondeados */
    text-transform: uppercase;
    transition: 0.5s;
    width: 100%; /* Ancho completo */
    text-align: center; /* Centra el texto */
    text-decoration: none;
}

.card:hover .contentBox .buy {
    opacity: 1; /* Muestra el botón al pasar el mouse */
}

.imgBox img {
    max-width: 80%; /* Ancho máximo */
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 60%; /* Ancho máximo al pasar el mouse */
}

/* Estilos para el carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Tamaño de las flechas */
    margin: 0 20px; /* Espaciado horizontal entre las flechas y las tarjetas */
    height: 100%; /* Asegura que las flechas sean del tamaño del carrusel */
    display: flex;
    align-items: center; /* Centra verticalmente las flechas */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo blanco con opacidad */
    border-radius: 50%; /* Flechas redondeadas */
    padding: 10px; /* Padding */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(48, 138, 255, 0.8); /* Efecto hover más claro */
}



/* Responsividad */
@media (max-width: 768px) {
    .card {
        max-width: 100%; /* Ajuste para pantallas pequeñas */
        height: 450px; /* Altura automática */
        margin: 5px; /* Espaciado más pequeño */
    }

    /* Asegura que las flechas se vean bien en móviles */
    .carousel-control-prev, .carousel-control-next {
        width: 10%; /* Aumentar tamaño para mejor toque */
        margin: 0; /* Sin margen en móviles */
    }

    .carousel-item .row {
        display: flex; /* Asegurar que los productos se muestren en fila */
        flex-wrap: nowrap; /* Evitar que se envuelvan */  
    }

    .carousel-item {
        flex-direction: column; /* Coloca los elementos uno encima del otro */
        align-items: center; /* Centra el contenido */
    }
}



/*============================*/
/* Beneficios */
/*============================*/
.container {
    text-align: center;
    max-width: 900px;
    margin-bottom: 60px;
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; /* Espacio entre elementos */
    justify-items: center; /* Centra los elementos dentro de cada columna */
}
.benefit-item {
    display: flex;
    align-items: center;
    gap: 15px; /* Espacio entre icono y texto */
    color: #333;
    width: 100%; /* Asegura que cada elemento ocupe el mismo ancho */
    max-width: 250px; /* Limita el ancho para una alineación más uniforme */
}
.benefit-item i {
    font-size: 24px;
    color: #007bff; 
}
.benefit-item p {
    line-height: 1.2;
    margin: 0;
    text-align: left; /* Alinea el texto a la izquierda para uniformidad */
}
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0 20px;
}

/* Responsividad */
/* Para pantallas medianas (tablets) */
@media (max-width: 768px) {
    .benefits {
        grid-template-columns: repeat(2, 1fr); /* Cambia a 2 columnas */
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .benefits {
        grid-template-columns: 1fr; /* Cambia a 1 columna */
    }
}



/*============================*/
/* Preguntas Frecuentes */
/*============================*/
#faq-section {
    padding: 10px 0;
    overflow: hidden;
}

#faq-section .faq-container {
    max-width: 1200px;
    margin: 0 auto;
}

#faq-section .accordion-style .faq-item:last-child {
    margin-bottom: 0;
}

/* Estilo para el encabezado de cada ítem */
#faq-section .accordion-style .faq-header {
    border: 0;
    background: none;
    padding: 0;
    border-bottom: none;
}

/* Estilo del botón cuando está abierto */
#faq-section .accordion-style .faq-btn {
    color: #ffffff; /* Letra en gris */
    background: #007bff; /* Fondo blanco */
    border: 1px solid #007bff; /* Borde azul */
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 3px;
    text-align: left;
    padding: 15px 55px;
    position: relative;
    text-decoration: none; /* Quitar subrayado */
}

#faq-section .accordion-style .faq-btn.collapsed {
    color: #333; /* Letra gris cuando está cerrado */
    background: #fff; /* Fondo blanco */
}

#faq-section .accordion-style .faq-btn.collapsed::after {
    content: "+";
    font-size: 20px;
    font-weight: 600;
    background-color: #007bff; /* Fondo del icono azul */
    color: #fff; /* Icono blanco */
    width: 26px;
    height: 26px;
    position: absolute;
    left: 16px;
    top: 15px;
    text-align: center;
    border-radius: 50%;
}

#faq-section .accordion-style .faq-btn::after {
    content: "⬏";
    font-size: 20px;
    font-weight: 600;
    background-color: #007bff; /* Fondo del icono azul cuando está abierto */
    color: #fff; /* Icono blanco */
    width: 26px;
    height: 26px;
    position: absolute;
    left: 16px;
    top: 15px;
    text-align: center;
    border-radius: 50%;
}

/* Estilo del cuerpo del ítem cuando está expandido */
#faq-section .accordion-style .faq-body {
    padding: 20px;
    color: #000000; 
    background-color: #ffffff; 
    border: 1px solid #007bff;
    border-radius: 0 0 3px 3px;
}


@media screen and (max-width: 767px) {
    #faq-section .accordion-style .faq-btn {
        padding: 15px 40px 15px 55px;
    }
}

@media screen and (max-width: 575px) {
    #faq-section .accordion-style .faq-btn {
        padding: 15px 20px 15px 55px;
    }
}

/*============================*/
/*======= Contactos ======*/
/*============================*/

    .container.bootstrap.snippets.bootdeys {
    margin-top: 100px; /* Ajusta el valor según tus necesidades */
    }
    .form-control {
    box-shadow: none !important;
    outline: none !important;
    border: 2px solid #007bff2c;
    }

    .form-control:hover ,.form-control:focus{
    border-color: #ffc10733;
    }

    .contact-map {
    background-color: #ededed;
    border-radius: 10px;
    }

    /* Color del icono */
    .icon-background {
        background-image: url('../imagenes/bannerCeleste2.png');
        background-size: cover; 
        background-position: center; 
    }

    /*======= Responsive ======*/
    @media (min-width: 768px) {
        .nav-custom-left {
            margin-left: 5%;
        }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .contact-page .col-sm-6 {
        padding-left: 30px;
        padding-right: 30px;
    }
    }

    @media (max-width: 768px) {
    .navbar-custom {
            -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
        box-shadow: 0 2px 2px rgba(0,0,0,.1);
    }
    .screen-space {
        margin: 0px auto 50px auto;
    }
    .feature-detail {
        padding: 0px 0px 50px 30px !important;
    }
    .footer h5 {
        margin-top: 30px;
    }
    }


    @media only screen and (min-width: 768px) and (max-width: 991px){
    .blog-wrapper .blog-item {
        width: 50%;
    }
    .navbar-custom .navbar-nav li a {
        font-size: 12px;
    }
    .blog-detail-box {
    padding-right: 0px;
    }
    }
    @media only screen and (min-width: 767px) and (max-width: 991px){
    
    }
    @media (max-width: 767px) {
    .blog-wrapper .blog-item {
        width: 100%;
    }
    .logo {
        margin-top: 7px;
    }
    .blog-detail-box {
    padding-right: 0px;
    }
    }

/*============================*/
/* Blog Inicio */
/*============================*/
.blog-grid {
    margin-top: 15px;
    margin-bottom: 15px;
    transform: translateY(20px); /* Desplazado hacia abajo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transiciones suaves */
}

.blog-grid:hover {
    transform: translateY(0); /* Regresa a su posición original */
}

.blog-grid .blog-img {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.blog-grid .blog-info {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    background: #ffffff;
    padding: 20px;
    margin: -30px 20px 0;
    position: relative;
}

.blog-grid .blog-info h5 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 10px;
}

.blog-grid .blog-info h5 a {
    color: #007bff;
}

.blog-grid .blog-info p {
    margin: 0;
}

.blog-grid .blog-info .btn-bar {
    margin-top: 20px;
}

.px-btn-arrow {
    color: #ffc107;
}

.section.gray-bg {
    margin-bottom: 60px; /* Espacio entre el blog y el footer */
    margin-top: 130px;
}
/*============================*/
/* Blog Fin */
/*============================*/

/* ---------------------------------------------- */
/* Nosotros Inicio */
/* ---------------------------------------------- */
.custom-card {
    border: none;
    border-radius: 15px;
    
    background-image: url('../imagenes/bannerCeleste2.png'); /* Cambia la ruta por la de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
    padding: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    margin: 17px; /* Espacio entre las tarjetas */
}


.row {
    display: flex;
    flex-wrap: wrap; /* Permitir que las tarjetas se ajusten en la fila */
    justify-content: space-between; /* Espacio entre tarjetas */
}

.custom-card:hover {
    transform: translateY(-10px); /*se eleva ligeramente */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Decoración esquinera */
.custom-card::before {
    content: ''; /*para que el pseudo-elemento exista*/
    position: absolute; /*su posición se basará en el contenedor más cercano que tenga*/
    width: 150px;
    height: 150px;
    background: linear-gradient(145deg, #ffc107, #e0a800, #c69500); /* Degradado de amarillo claro a amarillo oscuro */
    border-radius: 50%;
    top: -50px;
    right: -50px; /* Posiciona el círculo hacia afuera de la parte superior derecha del contenedor. */
    z-index: 1; /* sobre el fondo de la tarjeta */
}

.custom-card::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(145deg, #ffc107, #e0a800, #c69500); /* Degradado de amarillo claro a amarillo oscuro */
    border-radius: 50%;
    bottom: -30px;
    left: -30px; /* se coloca en la esquina inferior izquierda de la tarjeta */
    z-index: 1;
}


.card-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    color: #ffc107; /* Títulos en amarillo */
    text-transform: uppercase;
}

.card-text {
    font-size: 1rem;
    line-height: 1.8;
    color: #ffffff;
    z-index: 2;
    position: relative;
    text-align: justify;
}

/* Separación de la primera tarjeta del navbar */
.card-container .custom-card:first-child {
    margin-top: 130px; /* Ajusta el valor según la altura del navbar */
}

/* Media Queries */
@media (max-width: 768px) {
    .custom-card {
        margin: 10px 0; 
        width: calc(100% - 20px); 
        margin-left: 10px;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .custom-card {
        margin-bottom: 20px; 
        flex: 0 0 48%; 
        max-width: 48%; 
        margin-left: 200px;
    }
}

/* Video */
/* Estilo general para el contenedor */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 60px;
    max-width: 100%;
    box-sizing: border-box;
}

/* Estilo para la caja flotante */
.ibox {
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
}

/* Contenido del video */
.ibox-content {
    padding: 40px;
}

/* Estilo para el iframe del video */
.ibox-content iframe {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: none;
}

/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .video-container {
        padding: 10px;
    }
    
    .ibox {
        width: 100%;
    }

    .ibox-content {
        padding: 15px;
    }
}
/* ---------------------------------------------- */
/* Nosotros Fin */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* Acerca De Inicio */
/* ---------------------------------------------- */
.card-participante {
    border: 2px solid #007bff; /* Borde azul */
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.2s; /* Animación de transformación */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de profundidad */
    margin-top: 60px;
}

.card-participante:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.card-img-participante {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 363px; /* Ajusta la altura a 250px para que sea menos larga */
    object-fit: cover; /* Ajusta la imagen, cubriendo el contenedor */
    border-top-left-radius: 10px; /* Bordes redondeados en la parte superior */
    border-top-right-radius: 10px;
}

.card-body-participante {
    padding: 20px; /* Espaciado interno */
}

.card-title-participante {
    font-weight: bold; /* Negrita para el título */
    color: #343a40; /* Color del texto */
}

.card-text-participante {
    color: #6c757d; /* Color gris para el texto */
}

.email-text {
    color: #007bff; /* Color azul para el email */
    text-decoration: none; /* Sin subrayado */
}
/* ---------------------------------------------- */
/* Acerca De Fin */
/* ---------------------------------------------- */




/*============================*/
/* Estilos para el footer */
/*============================*/
.footer {
    background-image: url('../imagenes/bannerCeleste2.png'); 
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; 
    color: #ffffff ;
    padding: 2.5rem 1rem; 
    border-top: 0.1px solid #0000005b; /* Agrega un borde superior */
}

.footer h4 {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
    font-weight: bold; 
    color: #ffc107;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    color: #ffffff;
    margin-bottom: 0.5rem; 
}

.footer ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s, padding-left 0.3s; 
}

.social-links a {
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: color 0.3s, transform 0.3s; /* Añade transformación al hover */
}

.social-links a:hover {
    color: #007bff;
    transform: scale(1.2); /* Escala los íconos al hacer hover */
}

.footer-col ul li a:hover {
    color: #000000;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 45px; 
    width: 45px; 
    background-color: #ffffff;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 45px; 
    border-radius: 100%;
    color: #000000;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #ffffff;
    background-color: #000000;
    transform: rotate(360deg); /* Rota el ícono al hacer hover */
}

.payment-icon i {
    color: #ffffffd3; 
    transition: color 0.3s; /* Transición suave al cambiar el color */
}

.payment-icon:hover i {
    color: #000000; 
}


/* Pantallas medianas */
@media (max-width: 992px) { 
    .footer h4 {
        font-size: 1.25rem; 
    }

    .footer-col {
        text-align: center; 
    }

    .footer ul li {
        text-align: center; 
    }

    .social-links {
        justify-content: center; 
    }

    .social-links a {
        height: 40px; 
        width: 40px; 
        border-radius: 100%; 
    }

    .footer ul li a {
        transition: color 0.3s; /* Transición para el hover */
    }

    .footer ul li a:hover {
        color: #ffc107; 
    }

    .payment-icon i {
        color: #ffffff; 
    }

    .payment-icon:hover i {
        color: #000000; 
    }
}

/* Pantallas pequeñas */
@media (max-width: 768px) { 
    .footer h4 {
        font-size: 1.1rem; 
    }

    .footer-col {
        text-align: center; 
    }

    .footer ul li {
        text-align: center; 
    }

    .social-links {
        justify-content: center; 
    }

    .social-links a {
        height: 35px; 
        width: 35px; 
        border-radius: 100%; 
    }

    .footer ul li a {
        transition: color 0.3s; 
    }

    .footer ul li a:hover {
        color: #ffc107; 
    }

    .payment-icon i {
        color: #ffffff; 
    }

    .payment-icon:hover i {
        color: #000000; 
    }
}

/* Pantallas ultra pequeñas */
@media (max-width: 576px) { 
    .footer h4 {
        font-size: 1rem; 
    }

    .footer-col {
        text-align: center; 
    }

    .footer ul li {
        text-align: center; 
    }

    .social-links {
        justify-content: center; 
    }

    .social-links a {
        height: 30px; 
        width: 30px; 
        border-radius: 100%; 
    }

    .footer ul li a {
        transition: color 0.3s; 
    }

    .footer ul li a:hover {
        color: #ffc107; 
    }

    .payment-icon i {
        color: #ffffff; 
    }

    .payment-icon:hover i {
        color: #000000; 
    }
}



/*============================*/
/* Botón flotante */
/*============================*/
.btn-flotante {
    font-size: 10px; /* Cambiar el tamaño de la tipografía */
    color: #ffffff; /* Color del texto */
    border-radius: 5px; /* Borde del botón */
    background-color: #007bff; 
    padding: 10px 20px; /* Relleno del botón */
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.btn-flotante:hover {
    background-color: #023974; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}





